@media only screen and (max-width: 1067px) {
  /*Navbar*/

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar_Items-right {
    display: none;
    margin-left: 1px;
  }

  .headerLinks {
    flex-direction: column;
    justify-content: flex-start;
    color: black;
  }

  .Navbar__ToggleShow {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    color: white;
  }

  .Navbar__Link-brand {
    margin-right: auto;
  }


  .headerLinks {
    width: 50%;
    margin: auto;
    text-align: center;
 }

  .headerLinks li {
    margin: 2px;
  }

  .featuredMurals li {
    width: 50%;
  }

  .wallDetail {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .wallDetail p,
  .wallDetail img {
    margin-right: 0;
  }

  .muralName {
    margin-bottom: 15px;
  }

}

@media only screen and (max-width: 768px) {

  .headerLinksPF {
    width: 50%;
    margin-left: auto;
    text-align: center;
 }


 .aboutUsContainerOne, .aboutUsContainerTwo {
   flex-direction: column;
 }

 .aboutMO {
   width: 80%;
 }

 .aboutColumn {
   width: 100%;
   margin: 0;
 }


/* Featured Murals */

.featuredMurals li {
  width: 100%;
}

/* PROFILE FINAL */

.profileInfo {
  flex-direction: column;
  align-items: center;
}

.userDetail {
  width: 100%;
  align-items: flex-start;

}

.nameEmail {
  width: 100%;
  text-align: center;
}

.info {
  width: 100%;
  height: auto;
}

.about {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 28px;

}

.nameEmail h2 {
  text-align: center;
}

.muralName {
  font-size: 1.6em;
  margin-bottom: 5px;
  }

  /* PROFILE */

.profileInfo {
  flex-direction: column;
}

.picture {
  width: 80%;
}

.headerLinksP {
  width: 50%;
  margin-left: auto;
  text-align: center;
}

}

@media only screen and (max-width: 650px) {

  .wallDetail {
    flex-direction: column;
  }

.contactArea label {
  font-size: 1.3em;
}


}
