body {
    margin: 0;
    width: 100%;
    font-family: 'Josefin Sans', serif;
    font-size: 1em;
    background-color: #fff;
    color: black;
}

/* --------------------------------------- */
/* Header */
/* --------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../CSS/Pics/IMG_1978.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto; /*100% of the viewport */
  background-attachment: fixed;
}

.row {
  background-color: transparent;
  margin: auto;
  display: flex;
  width: 95%;
  justify-content: center;

  /* box-shadow: 0 2px 2px #efefef; */
}

.nav {
  position: relative;
  margin-bottom: 20px;
}

.headerLogo {
  height: 240px;
  width: 200px;
}

.headerLinks {
  width: 100%;
  margin-right: 10px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-left: 0;
}

.headerLinks li {
  margin-top: 30px;
  padding: 7px;
}

.Navbar__Link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 0.35rem .75rem;
  /* border: 1px #ccc solid; */
  display: inline-block;
  border-radius: 60px;
  text-decoration: none;
  text-align: center;
  /* background-color: #A6B1B0; */
  transition: background-color 500ms ease;
}



.headerLinks a:hover {
  background-color: #37060D;
}

.message {
  text-align: center;
  margin-top: 400px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.message h1 {
  font-size: 100px;
  font-weight: 300;
  margin: 10px;
}

.message h4 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef; /* x-axis, y-axis, blur, color*/
    /* z-index: 9999; /* establishes stacking of elements, now it is at the top of evertyhing*/
/* }
.sticky .headerLinks { margin-top: 18px; }
.sticky .headerLinks li a:link,
.sticky .headerLinks li a:visited {
    color: #555;
    padding: 17px 0;
} */
/* .sticky .logo { display: none;}
.sticky .logo-black { display: block;} */

/* --------------------------------------- */
/*  About Us */
/* --------------------------------------- */
h3 {
  margin: 0;
}

.aboutUs {
  margin-top: 8px;

}

.aboutUs h2 {
  text-transform: uppercase;
  text-align: center;
}

.aboutUs p {
  line-height: 1.3em;
  font-size: 1.3em;
}

.aboutMO {
  text-align: center;
  padding: 5px;
  width: 60%;
  margin: auto;
  text-align: justify;
}

.aboutUsOverallContainer {
  width: 90%;
  margin: auto;
}

.aboutColumn {
  margin: auto;
  border: 2px;
  /* border-style: dashed; */
  text-align: justify;
  width: 40%;
}

.aboutColumn h2 {
  text-align:center;

}


.aboutUsContainerOne, .aboutUsContainerTwo {
  margin: auto;
  width: inherit;
  display: flex;
  padding: 10px;
  text-align: center;
}

p.icons {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}


/* --------------------------------------- */
/*  SignIn and SignUp */
/* --------------------------------------- */

.signUpContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.signUp, .signIn{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signUpContainer h1 {
  text-align: center;
  font-size: 32px;
}
.signUpContainer input {
  width: 250px;
  margin-bottom: 10px;
}

.signUpContainer select {
  width: 250px;
  margin-bottom: 10px;
}

.signUpContainer button {
  width: 100px;
}



/* --------------------------------------- */
/*  Murals */
/* --------------------------------------- */

.featuredMurals {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: auto;
}

.featuredMurals li {
  width: 33.33%;
}

.featuredMural {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.featuredMural img {
  width: 100%;
  height: 415px;
  transition: .5s ease;
  backface-visibility: hidden;

}

.textOverImage {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.featuredMural:hover img {
  transform: scale(1.07);
  opacity: 0.3;
}

.featuredMural:hover .textOverImage {
  opacity: 1;
}

.text {
  color: #2c3e50;
  font-size: 24px;
  padding: 16px 32px;
}

/* --------------------------------------- */
/*  Street Art Map */
/* --------------------------------------- */

.streetArtMap {
  margin: 20px auto;

}


.streetArtMap h2 {
  text-align: center;
  font-size: 48px;
  margin: 65px auto;
}

#map{
    height:675px;
    width:100%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 10px;
  margin-bottom: 10px;
}

/* --------------------------------------- */
/*  Contact Us Form */
/* --------------------------------------- */

.contactUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.contactUs h2 {
  text-align: center;
  font-size: 48px;
  margin: 15px auto;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  /* justify-content: center; */
  align-items: center;
}

.contactArea {
  width: 100%;
  margin-bottom: 15px;
}

.contactInput input {
  width: 250px;
}

.contactFind {
  direction: flex;
}

.contactInput textarea {
  height:100px;
  width: 250px;

}

/* --------------------------------------- */
/*  SI and SU Modal */
/* --------------------------------------- */

/* Modal */

.modalSignIn {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    padding-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modalSignIn-content {
    /* background-color: #fefefe; */
    margin: 75px auto;
    padding: 15px auto;
    width: 100%;
    overflow: hidden;
    color: white;
}



/* The Close Button */
.closeSignIn {
    padding-right: 20px;
    padding-bottom: 40px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.closeSignIn:hover,
.closeSignIn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal */

.modalSignUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    padding-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modalSignUp-content {
    /* background-color: #fefefe; */
    margin: 30px auto;
    padding: 15px auto;
    width: 100%;
    overflow: hidden;
    color: white;
}

/* The Close Button */
.closeSignUp {
    padding-right: 9px;
    padding-bottom: 40px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.closeSignUp:hover,
.closeSignUp:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------------------- */
/*  Mobile Menu */
/* --------------------------------------- */

.Navbar {
  display: flex;
}


.Navbar__Items {
  display: flex;
}

.Navbar_Items-right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Link-toggle i {
    margin-top: 30px;
    padding-top: 7px;
    font-size: 50px;
}
